<h1>CoreTest edit</h1>
<style>
input { width: 280px; }
#ft_corebundle_coretesttype_heading {width: 1100px;  }
textarea { width: 500px;  }
#ft_corebundle_coretesttype_description {height: 120px; }
#ft_corebundle_coretesttype_notes {width: 1100px;  }
#ft_corebundle_coretesttype_weight {width: 50px;  }
</style>
<form action="{{ path('core_test_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}

    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('core_test') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('core_test_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    <li>
        <a href="{{ path('core_test_new') }}">
            Create a new entry
        </a>
    </li>
    <li>
        <a href="{{ path('core_test_test', { 'id': entity.id }) }}">
            Test test
        </a>
    </li>
</ul>

