<h1>CoreTest list</h1>
<ul>
    <li>
        <a href="{{ path('core_test_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Class_name</th>
            <th>Package_name</th>
            <th>Heading</th>
            <th>Description</th>
          <!--  <th>Resources</th>-->
            <th>Weight</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('core_test_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.classname }}</td>
            <td>{{ entity.packagename }}</td>
            <td>{{ entity.heading }}</td>
            <td>{{ entity.description }}</td>
        <!--    <td>{{ entity.resources }}</td> -->
            <td>{{ entity.weight }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('core_test_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('core_test_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('core_test_test', { 'id': entity.id }) }}">test</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('core_test_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
