<h1>CoreTest list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Class_name</th>
            <th>Package_name</th>
            <th>Heading</th>
            <th>Description</th>
            <th>Extended_description</th>
            <th>More_details</th>
            <th>Resources</th>
            <th>Weight</th>
            <th>Notes</th>
            <th>Run_by_default</th>
            <th>Enabled</th>
            <th>Print_line_numbers</th>
            <th>Print_details</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('core_test_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.classname }}</td>
            <td>{{ entity.packagename }}</td>
            <td>{{ entity.heading }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.extendeddescription }}</td>
            <td>{{ entity.moredetails }}</td>
            <td>{{ entity.resources }}</td>
            <td>{{ entity.weight }}</td>
            <td>{{ entity.notes }}</td>
            <td>{{ entity.runbydefault }}</td>
            <td>{{ entity.enabled }}</td>
            <td>{{ entity.printlinenumbers }}</td>
            <td>{{ entity.printdetails }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('core_test_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('core_test_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('core_test_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
