<h1>CoreTest</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Class_name</th>
            <td>{{ entity.classname }}</td>
        </tr>
        <tr>
            <th>Package_name</th>
            <td>{{ entity.packagename }}</td>
        </tr>
        <tr>
            <th>Heading</th>
            <td>{{ entity.heading }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
<!--        <tr>
            <th>Extended_description</th>
            <td>{{ entity.extendeddescription }}</td>
        </tr>-->
        <tr>
            <th>More_details</th>
            <td>{{ entity.moredetails }}</td>
        </tr>
        <tr>
            <th>Resources</th>
            <td>{{ entity.resources }}</td>
        </tr>
        <tr>
            <th>Weight</th>
            <td>{{ entity.weight }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ entity.notes }}</td>
        </tr>
<!--        <tr>
            <th>Run_by_default</th>
            <td>{{ entity.runbydefault }}</td>
        </tr>
        <tr>
            <th>Enabled</th>
            <td>{{ entity.enabled }}</td>
        </tr>
        <tr>
            <th>Print_line_numbers</th>
            <td>{{ entity.printlinenumbers }}</td>
        </tr>
        <tr>
            <th>Print_details</th>
            <td>{{ entity.printdetails }}</td>
        </tr>
        <tr>-->
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
<!--
        <tr>
            <th>Updated</th>
            <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>-->
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('core_test') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('core_test_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('core_test_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    <li>
        <a href="{{ path('core_test_test', { 'id': entity.id }) }}">
            Test test
        </a>
    </li>
    <li>
        <a href="{{ path('core_test_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
