<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>

<h1>FrontendTest Admin</h1>

<form name="fromPaste" method="post">

<!--<textarea name="htmlCode" rows="30" cols="100"></textarea>-->

<input type="text" size="50" name="htmlUrl" value="">
<div style="clear: left;"></div>
<input type=submit value="Run Suite">
(Ex. http://localhost/tests/test-h.html)
</form>

<ol>
{% if htmlUrlSet %}
    {% if test1 is defined %}<li>{{ test1.toString() }}</li>{% endif %}
    {% if test2 is defined %}<li>{{ test2.toString() }}</li>{% endif %}
    {% if test3 is defined %}<li>{{ test3.toString() }}</li>{% endif %}
    {% if test4 is defined %}<li>{{ test4.toString() }}</li>{% endif %}
    {% if test5 is defined %}<li>{{ test5.toString() }}</li>{% endif %}
{% endif %}
</ol>

</body>
</html>