<h1>TestResult list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ft_request_id</th>
            <th>Kind</th>
            <th>Class_name</th>
            <th>Version</th>
            <th>Heading</th>
            <th>Body</th>
            <th>Notes</th>
            <th>Weight</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('test_result_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.ftrequestid }}</td>
            <td>{{ entity.kind }}</td>
            <td>{{ entity.classname }}</td>
            <td>{{ entity.version }}</td>
            <td>{{ entity.heading }}</td>
            <td>{{ entity.body }}</td>
            <td>{{ entity.notes }}</td>
            <td>{{ entity.weight }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('test_result_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('test_result_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('test_result_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
