<h1>FtRequest list</h1>

<style>

ul.horizNav li{
	display: inline;
	padding-right: 10px;
}
td { font-family: arial, 'san serif'; font-size: smaller;}
</style>

<ul>
    <li>
        <a href="{{ path('ft_request_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Url</th>
    <!--        <th>Ip</th>
            <th>Environment</th>
            <th>Notes</th>
            <th>Updates_req</th>
            <th>Moretests_req</th>
            <th>Type</th>-->
            <th># Results</th>
            <th>Avg Wt</th>
            <th>Score</th>
            <th>Created</th>
          <!--  <th>Updated</th> -->
            <th>Delivered</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('ft_request_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.url }}</td>
<!--            <td>{{ entity.ip }}</td>
            <td>{{ entity.environment }}</td>
            <td>{{ entity.notes }}</td>
            <td>{{ entity.updatesreq }}</td>
            <td>{{ entity.moretestsreq }}</td>
            <td>{{ entity.type }}</td>-->
			<td>{% render "FtCoreBundle:TestResult:count" with {'id': entity.id} %}</td>
			<td>{% render "FtCoreBundle:TestResult:averageWeight" with {'id': entity.id} %}</td>
           <td>{{ entity.ftscorea }}</td> 
           <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif%}</td>
           <!-- <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif%}</td> -->
            <td style="color: DarkGreen">{% if entity.delivered %}{{ entity.delivered|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul class="horizNav">
                    <!--<li>
                        <a href="{{ url('report', { 'id': entity.id }) }}">show</a>
                    </li>-->
                    <li>
                        <a href="{{ path('ft_request_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('ft_request_admin_run', { 'id': entity.id }) }}">run suite</a>
                    </li>
                    <li>
                        <a href="../core/test_result_filter/{{ entity.id }}">results</a>
                    </li>
                    <li>
                        <a href="{{ path('ft_request_preview', { 'id': entity.id }) }}">preview</a>
                    </li>
                    <li>
                        <a href="{{ path('ft_request_deliver', { 'id': entity.id }) }}">deliver</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('ft_request_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
