<h1>FtRequest</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>Ip</th>
            <td>{{ entity.ip }}</td>
        </tr>
        <tr>
            <th>Environment</th>
            <td>{{ entity.environment }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ entity.notes }}</td>
        </tr>
        <tr>
            <th>Updates_req</th>
            <td>{{ entity.updatesreq }}</td>
        </tr>
        <tr>
            <th>Moretests_req</th>
            <td>{{ entity.moretestsreq }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Delivered</th>
            <td>{{ entity.delivered|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('ft_request') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ft_request_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('ft_request_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
